<!-- Fields to include
Food name
Breakfast, Lunch, Dinner, Snack, Dessert
Sugar grams
Source of sugar
Serving size
If high glycemic, include field "Was it worth it?"
Fat grams
Saturated, unsaturated, trans-fat grams -->

<main class="main-food" ng-app="myApp">
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Food/Meal Name</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" ng-model="foodName">
  </div>

  <div class="row">
    <div class="col-lg-6">
      <select ng-model="selectedMeal" ng-options="meal for meal in meals"></select>
    </div><!-- end class col-lg-6 -->
  </div><!-- end class row -->
</main>
